<div class="d-flex flex-row justify-content-center align-items-center" style="height: 100%;">
  <div class="jumbotron p-4 col-lg-9 col-lg-offset-2">
    <h1 class="display-4">Bienvenido a Musify</h1>
    <p class="lead">Musify es una aplicación web construida con el stack MEAN (Mongo Express Angular NodeJS). 
        Está pensada como clon de Spotify, permite subir tus propios archivos de audio, crear nuevos usuarios, 
        albums y artistas (como <b>administrador</b>) y reproducir la música subida (como <b>usuario</b>).</p>
    <hr class="my-4">
    <p>Acosta Martín 2024.</p>
    <p class="lead">
      <a class="btn btn-secondary btn-lg" href="https://github.com/MartinAcosta-dev" target="_blank" role="button">GitHub</a>
      <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/martin-acosta-7b0902181/" target="_blank">LinkedIn</a>
      <a href="" class="btn btn-warning btn-lg">CV</a>
    </p>
</div>
</div>