<div id="componentContainer">
    <div *ngIf="album" id="album-detail-container">
    
        <div class="album-box">
            <img src="{{ url + 'get-image-album/' + album.image }}">
    
            <div class="data">
                <h3>{{album.title}}</h3>
                <div>de <a [routerLink]="['/artist', album.artist._id]">{{album.artist.name}}</a></div>
                <hr>
                <p class="description">{{album.description}}</p>
    
                <a [routerLink]="['add-song', album._id]" *ngIf="identity.role == 'ROLE_ADMIN'" [routerLink]="['/add-song', album._id]" class="btn btn-dark">
                    Añadir canción
                </a>
        
            </div>
    
            
        </div>
    
        <hr>
    
        <ul *ngIf="songs.length > 0" class="song-list list-group">
            <li *ngFor="let song of songs; let i = index" class="song-item list-group-item" [ngClass]="{'list-group-item-secondary': i % 2 !== 0}" (click)="startPlayer(song, $event)">
                <div>
                    <img class="play-img" src="./../../../assets/images/playsvg.svg" alt="" style="cursor: pointer;height: 20px; margin-right: 10px;">
                    <img class="pause-img" src="./../../../assets/images/pause-icon.svg" alt="" style="cursor: pointer;height: 20px; margin-right: 10px; display: none;">
                    {{song.number}} - {{song.name}} - {{song.duration}}
                </div>
                <div class="admin-buttons" *ngIf="identity.role == 'ROLE_ADMIN'">
                    <a [routerLink]="['/edit-song', song._id]" class="btn btn-sm btn-warning" title="Pasar a edicion de los datos del album '{{song.name}}'">Editar</a>
                    <a (click)="onDeleteConfirm(song._id)" class="btn btn-sm btn-danger" title="Eliminar la cancion '{{song.name}}'">Borrar</a>
                </div>
                <div class="seguro" *ngIf="confirmado == song._id">
                    <a (click)="onDeleteSong(song._id)"class="btn btn-sm btn-warning" title="Elimina la canción '{{song.name}}'">Eliminar</a>
                    <a (click)="onCancelSong()" class="btn btn-sm btn-danger">Cancelar</a>
              </div>
            </li>
        </ul>
    
        
    </div>

</div>