<div class="register-container">
    <div class="register-form">
      <h2>Registrate en Musify</h2>
      <hr>
      <form #registerForm="ngForm" (ngSubmit)="onRegisterSubmit()">
        <div class="form-group">
            <label>Nombre: </label>
            <input type="text" #name="ngModel" name="name" [(ngModel)]="user.name" placeholder="Nombre">
        </div>
        <div class="form-group">
            <label>Apellido: </label>
            <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user.surname" placeholder="Apellido">
        </div>
        <div class="form-group">
            <label>Correo electrónico: </label>
            <input type="text" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input type="password" #password="ngModel" name="password" [(ngModel)]="user.password" class="form-control" required>
        </div>
        <button type="submit" class="login-btn" >Registrate</button>
      </form>
      <p class="register-text">¿Ya tienes cuenta? <a href="/login" class="register-link">Identificate aquí</a></p>

      <div *ngIf="alertMessage" >
        <div class="alert alert-success col-lg-8" role="alert">
          {{alertMessage}}
        </div>
      </div>

      <div *ngIf="errorMessage" >
        <div class="alert alert-danger col-lg-8" role="alert">
          <b>Error</b> al registrar: {{errorMessage}}
        </div>
      </div>
      
      <br>
      <div class="logo-container">
        <div>
          <hr>
        </div>
        <img src="../../../assets/favicon.ico" alt="Logo" class="logo">
        <div>
          <hr>
        </div>
      </div>
    </div>
  </div>
  