.container{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

label{
    font-weight: bold;
}

input{
    border: 1px solid rgba(63, 63, 63, 0.705);
}

.btn{
    margin-top: 10px;
}

.navigation{
    padding: 0;
}

.actived{
    background-color: rgb(73, 73, 73);
}

.navigation a{
    color: #d3d1d1;
    text-decoration: none;
}

.navigation a:hover{
    color: rgb(255, 255, 255);
}

#navigationList{
    gap: 15px;
}

#user_logged{
    /* padding: 5px;
    margin-top: 25px;
    position: absolute;
    width: 200px;
    bottom: 0px;
    text-align: center; */
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#userImage{
    width: 80px;
    border-radius: 90px;
}

#logoutSettingsWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#logoutSettingsWrapper svg{
    cursor: pointer;
    height: 35px;
}