<div id="appRoot" class="container-fluid">
  <div id="mainRow" class="row">
    <!------------------------------------ Contenedor para el usuario logeado --------------------------------->
    <div *ngIf="identity" class="navigation col-lg-2">
      <h1 class="head-title">
        <a [routerLink]="['/']">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 15.5V5s3 1 3 4m-7-3H4m9 4H4m4 4H4m13 2.4c0 1.326-1.343 2.4-3 2.4s-3-1.075-3-2.4 1.343-2.4 3-2.4 3 1.075 3 2.4Z"/>
          </svg>
          <br>
          {{title}}
          <hr>
        </a>
      </h1>

      <div id="navigationList" class="d-flex flex-column">
        <a href="#">
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/>
          </svg>
          <br>    
          Buscar        
        </a>
        <a href="#">
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"/>
          </svg>
          <br>
          Artistas
        </a>
        <a [routerLink]="['/albums']">
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M17.316 4.052a.99.99 0 0 0-.9.14c-.262.19-.416.495-.416.82v8.566a4.573 4.573 0 0 0-2-.464c-1.99 0-4 1.342-4 3.443 0 2.1 2.01 3.443 4 3.443 1.99 0 4-1.342 4-3.443V6.801c.538.5 1 1.219 1 2.262 0 .56.448 1.013 1 1.013s1-.453 1-1.013c0-1.905-.956-3.18-1.86-3.942a6.391 6.391 0 0 0-1.636-.998 4 4 0 0 0-.166-.063l-.013-.005-.005-.002h-.002l-.002-.001ZM4 5.012c-.552 0-1 .454-1 1.013 0 .56.448 1.013 1 1.013h9c.552 0 1-.453 1-1.013 0-.559-.448-1.012-1-1.012H4Zm0 4.051c-.552 0-1 .454-1 1.013 0 .56.448 1.013 1 1.013h9c.552 0 1-.454 1-1.013 0-.56-.448-1.013-1-1.013H4Zm0 4.05c-.552 0-1 .454-1 1.014 0 .559.448 1.012 1 1.012h4c.552 0 1-.453 1-1.012 0-.56-.448-1.013-1-1.013H4Z" clip-rule="evenodd"/>
          </svg>         
          <br> 
          Albums
        </a>
      </div>
  
      <div id="user_logged">
        <a href="#">
          <hr>
        </a>
        <div class="image_for_edit">
          <img id="userImage" src="{{apiUrl + 'get-image-user/' + identity.image}}" width="80px">
        </div>
        <span id="identity_name">
          {{identity.name}}
        </span>
        <div>
          <a [routerLink]="['/mis-datos']">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="square" stroke-linejoin="round" stroke-width="2" d="M10 19H5a1 1 0 0 1-1-1v-1a3 3 0 0 1 3-3h2m10 1a3 3 0 0 1-3 3m3-3a3 3 0 0 0-3-3m3 3h1m-4 3a3 3 0 0 1-3-3m3 3v1m-3-4a3 3 0 0 1 3-3m-3 3h-1m4-3v-1m-2.121 1.879-.707-.707m5.656 5.656-.707-.707m-4.242 0-.707.707m5.656-5.656-.707.707M12 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
            </svg>
            <br>
            Mis Datos
          </a>
        </div>
        <a href="">
          <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M17 16L21 12M21 12L17 8M21 12L7 12M13 16V17C13 18.6569 11.6569 20 10 20H6C4.34315 20 3 18.6569 3 17V7C3 5.34315 4.34315 4 6 4H10C11.6569 4 13 5.34315 13 7V8"
             stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg>
             <br>
          Salir
        </a>
      </div>
  
    </div>
    
    <div *ngIf="identity" class="central col-lg-10">
      <router-outlet></router-outlet>
    </div>
    
    <!------------------------------- Contenedor para el usuario no logeado ------------------------------------->
    <div *ngIf="!identity" class="col-lg-11 p-4">
      <div class="row">
        <div class="col-lg-6">
          <h1>Identificate</h1>
          <div *ngIf="errorMessage">
            <div class="alert alert-warning col-lg-8" role="alert">
              <b>Error</b> al logearte: {{errorMessage}}
            </div>
          </div>
          <form #loginForm="ngForm" (ngSubmit)="onLoginSubmit()" class="col-md-7">
            <div>
              <label>Correo electrónico: </label>
              <input type="email" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control" required>
              <span *ngIf="!email.valid && email.touched">
                El email es obligatorio
              </span>
            </div>
            <div>
              <label>Contraseña:</label>
              <input type="password" #password="ngModel" name="password" [(ngModel)]="user.password"  class="form-control" required>
            </div>
            <input type="submit" value="Entrar" class="btn btn-primary">
          </form>
        </div>
  
        
        <div class="col-lg-6">
          <h1>Registrate</h1>
          <div *ngIf="alertRegister">
            <div class="alert alert-primary col-lg-8" role="alert">
              {{alertRegister}}
            </div>
          </div>
          <form #registerForm="ngForm" (ngSubmit)="onSubmitRegister()" class="col-md-8">
            <div>
              <label>Nombre: </label>
              <input type="text" #name="ngModel" name="name" [(ngModel)]="userRegister.name" class="form-control" required>
              <span *ngIf="!name.valid && name.touched">
                El nombre es obligatorio
              </span>
            </div>
            <div>
              <label>Apellido:</label>
              <input type="text" #surname="ngModel" name="surname" [(ngModel)]="userRegister.surname" class="form-control" required>
              <span *ngIf="!surname.valid && surname.touched">
                Los apellidos son obligatorios
              </span>
            </div>
            <div>
              <label>Correo electronico:</label>
              <input type="text" #email="ngModel" name="email" [(ngModel)]="userRegister.email" class="form-control" required>
              <span *ngIf="!email.valid && email.touched">
                El email es obligatorio
              </span>
            </div>
            <div>
              <label>Contraseña:</label>
              <input type="password" #password="ngModel" name="password" [(ngModel)]="userRegister.password" class="form-control" required>
              <span *ngIf="!password.valid && password.touched">
                La contraseña es obligatoria
              </span>
            </div>
            <div>
              <label>Repetir Contraseña:</label>
              <input type="password" id="repeatPassword" class="form-control" required>
              <span *ngIf="!password.valid && password.touched">
                La contraseña es obligatoria
              </span>
            </div>
            <input type="submit" value="Registrarse" class="btn btn-primary">
    
          </form>
        </div>
      </div>
    </div>  
</div>

</div>