.head-page{
    margin: 20px;
}

#artistsContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
    margin-left: 20px;
}


.pagination{
    margin-top: 10px;
}

#artistsContainer{
    margin: 0;
    padding: 0;
    margin-top: 30px;
    list-style: none;
}

.artist-item{
    width: 20.5%;
    margin: 0;
    padding: 0;
    height: 350px;
    border: 1px solid #444;
    margin-left: 20px;
    margin-top: 20px;
}

.artist-item .artist-image{
    height: 245px;
    width: 100%;
    overflow: hidden;
    background-color: black;
}

.artist-item .artist-image img{
    height: 100%;
}

.artist-item .artist-name{
    color: white;
    padding: 8px;
    background-color: #222;
}

.artist-item .artist-name a{
    color: white;
    margin-right: 5px;
}

.seguro{
    position: absolute;
    margin-top: -44px;
    background-color: #222;
    height: 40px;
    width: 200px;
    padding: 5px;
    margin-left: 3px
}

.seguro a{
    margin-right: 6px;
}