<div class="head-page" *ngIf="identity">
    <h1>{{titulo}}</h1>
    <hr>
    <div *ngIf="identity.role == 'ROLE_ADMIN'" class="btn btn-secondary" [routerLink]="['/add-artist']">
        Añadir artista
    </div>

    <ul class="pagination artist-list">
      <li class="page-item">
        <a [routerLink]="['/artists', prev_page]" class="page-link">
          &laquo;
        </a>
      </li>
      <li class="page-item">
        <a [routerLink]="['/artists', next_page]" class="page-link">
          &raquo;
        </a>
      </li>
    </ul>
</div>

<div *ngIf="identity" class="" id="artistsContainer">

    <div *ngFor="let artist of artists" class="artist-item">
        <div class="artist-image">
            <img src="{{ url + 'get-image-artist/' + artist.image }}" alt="">

        </div>
        <div class="artist-name">
          <a [routerLink]="['/artist', artist._id]">
            {{artist.name}}
          </a>

          <hr>

          <div class="buttons" *ngIf="identity.role == 'ROLE_ADMIN'">
            <a [routerLink]="['/edit-artist', artist._id]" class="btn btn-sm btn-warning" title="Pasar a edicion de los datos del artista '{{artist.name}}'">Editar</a>
            <a (click)="onDeleteConfirm(artist._id)" class="btn btn-sm btn-danger" title="Eliminar al artista '{{artist.name}}' junto a sus obras">Borrar</a>
          </div>
        </div>

        <div class="seguro" *ngIf="confirmado == artist._id">
          <a (click)="onDeleteArtist(artist._id)"class="btn btn-sm btn-warning" title="Eliminar al artista '{{artist.name}}' junto a sus obras">Eliminar</a>
          <a (click)="onCancelArtist()" class="btn btn-sm btn-danger">Cancelar</a>
        </div>
    </div>

    
</div>
