<div id="container">
    <h2>{{titulo}}</h2>

    <div class="alert alert-warning col-lg-6" *ngIf="alertMessage">
        {{alertMessage}}
    </div>

    <form #formArtist="ngForm" (ngSubmit)="onSubmit()" class="col-lg-5">
        <p>
            <label for="">Nombre:</label>
            <input type="text" #name="ngModel" name="name" [(ngModel)]="artist.name" required class="form-control">
            <span *ngIf="!name.valid && name.touched" >
                El nombre es obligatorio
            </span>
        </p>

        <p>
            <label for="">Descripcion:</label>
            <textarea class="form-control" type="text" #description="ngModel" name="description" [(ngModel)]="artist.description" required >
            </textarea>
            <span *ngIf="!description.valid && description.touched" >
                La descripcion es obligatoria
            </span>
        </p>

        <div class="image_for_edit" *ngIf="artist.image">
            <img id="artistImage" style="max-width: 200px;" src="{{url + 'get-image-artist/' + artist.image }}">
        </div>

        <div>
            <label for="">Sube la imagen del artista</label>
            <input type="file" placeholder="Subir imagen..." (change)="fileChangeEvent($event)">
        </div>

        <br>

        <input type="submit" value="Editar artista" class="btn btn-secondary">
    </form>
</div>