#container{
    max-height: 70vh;
    overflow-y: scroll;
}

#container input{
    width: 500px;
}

#userImage{
    margin: 10px;
    width: 100px;
}

.image_for_edit{
    margin-top: 10px;
}

#edit-user-submit-btn{
    width: 200px !important;
}